/* module-key = 'com.atlassian.confluence.plugins.confluence-roadmap-plugin:roadmap-editor-resources-conf-frontend', location = 'editor/roadmap-editor.css' */
#roadmap-editor-form {
  display: table;
  height: 100%;
  width: 100%
}

#roadmap-popup-panel {
  height: 100%
}

#confluence-roadmap-dialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 69px;
  padding: 20px
}

#confluence-roadmap-dialog .roadmap-editor-popup {
  padding: 0;
  margin: 0 10px;
  box-sizing: border-box
}

#roadmap-popup-panel .roadmap-view {
  width: 100%;
  height: 100%
}

#roadmap-editor-edit-area {
  width: 100%;
  height: 100%;
  background-color: white
}

#roadmap-editor-edit-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box
}

#add-month-dropdown {
  z-index: 3005
}

#roadmap-deprecation-dialog .new-roadmap-thumb {
  background-image: url(//d2cyaw4z41y1zi.cloudfront.net/nickguner.atlassian.net/wiki/s/1000.0.21/_/download/resources/com.atlassian.confluence.plugins.confluence-roadmap-plugin:roadmap-editor-resources-conf-frontend/images/new-roadmap.png);
  width: 550px;
  height: 226px;
  margin-top: 16px
}

#roadmap-editor-edit-content .roadmap-title {
  color: #707070
}

#roadmap-container {
  position: relative;
  width: 100%;
  height: 100%
}

#roadmap-container .roadmap-content {
  border-spacing: 0;
  position: absolute;
  width: 100%
}

#roadmap-container .roadmap-frame,
#roadmap-container .roadmap-content {
  position: absolute;
  display: table
}

#roadmap-container .roadmap-content {
  top: 60px
}

.roadmap-frame .roadmap-frame-title,
.roadmap-frame .roadmap-frame-content {
  display: table-row
}

#roadmap-container .roadmap-frame-title .roadmap-column-title,
#roadmap-container .roadmap-frame-content .roadmap-column-item {
  display: table-cell;
  width: 100px;
  min-width: 100px;
  text-align: center
}

#roadmap-container .roadmap-frame-title .roadmap-column-title {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid transparent;
  vertical-align: bottom;
  color: #707070;
  border-bottom: 1px solid #ccc
}

.roadmap-frame .roadmap-column-title .roadmap-column-year {
  font-weight: bold
}

#roadmap-container .roadmap-frame-content .roadmap-column-item {
  border-right: 1px dashed #ccc
}

#roadmap-container .roadmap-frame-content .roadmap-column-item:first-child {
  border-left: 1px dashed #ccc
}

#roadmap-container .roadmap-frame-content .roadmap-column-item:last-child {
  border-right: 1px solid #ccc
}

#roadmap-container .roadmap-frame {
  padding-left: 45px
}

#roadmap-container .roadmap-lane {
  display: table-row
}

#roadmap-container .roadmap-separate-content,
#roadmap-container .roadmap-lane-content,
#roadmap-container .roadmap-lane-title {
  display: table-cell;
  vertical-align: bottom;
  color: #707070;
  border: 1px solid #ccc;
  border-width: 0 0 1px
}

#roadmap-container .roadmap-lane:first-child .roadmap-separate-content {
  border-top: 1px solid #ccc
}

#roadmap-container .roadmap-separate-content {
  min-width: 10px;
  width: 10px
}

#roadmap-container .roadmap-separate-content:last-child {
  border-top: 1px solid #CCC
}

#roadmap-container .roadmap-lane-content {
  vertical-align: top;
  padding: 7px 0 10px;
  display: table-cell
}

#roadmap-container .roadmap-lane-empty-title {
  border-bottom: 1px solid #CCC
}

#roadmap-container .roadmap-lane-title {
  color: #FFF;
  cursor: pointer;
  width: 25px;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-right: 0;
  height: 70px
}

#roadmap-container .roadmap-lane-title .title-outer {
  width: 25px
}

#roadmap-container .roadmap-lane-title .title-inner {
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transform: translate(0, 100%) rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform: translate(0, 100%) rotate(-90deg);
  -moz-transform-origin: 0 0;
  -o-transform: translate(0, 100%) rotate(-90deg);
  -o-transform-origin: 0 0;
  -ms-transform: translate(0, 100%) rotate(-90deg);
  -ms-transform-origin: 0 0;
  transform: translate(0, 100%) rotate(-90deg);
  transform-origin: 0 0
}

#roadmap-container .roadmap-lane-content .new-row-placeholder {
  border-bottom: 1px solid #3b73af;
  margin: 0
}

#roadmap-container .roadmap-bar-row {
  height: 38px;
  margin-top: 5px;
  position: relative;
  border: 1px solid transparent;
  border-width: 1px 0;
  overflow: hidden
}

#roadmap-container .roadmap-bar-row.roadmap-bar-drag-hover {
  background-color: #f0f0f0;
  border-width: 1px 0
}

#roadmap-container .roadmap-bar-row .ui-draggable-dragging {
  cursor: move
}

#roadmap-container .roadmap-bar-overlapped {
  cursor: no-drop !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQY02MoKCj4j44ZcIFhoxiXDqwKiVHMQMgtWBXiUwwATC9zbyppLS4AAAAASUVORK5CYII=')
}

#roadmap-container .new-bar-row {
  height: 25px;
  position: absolute;
  z-index: 4015
}

#roadmap-container .new-bar-row .new-row-line {
  margin-top: 12px;
  border-color: transparent
}

#roadmap-container .new-bar-row.new-bar-row-hover .new-row-line {
  background-color: #4a6785
}

#roadmap-container .roadmap-bar {
  display: inline-block;
  position: absolute;
  padding: 8px;
  white-space: nowrap;
  border: 1px solid;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  z-index: 4006
}

#roadmap-container .roadmap-bar:hover {
  -ms-filter: "alpha(opacity=90)";
  opacity: .9
}

#roadmap-container .roadmap-bar .roadmap-bar-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

#roadmap-container .vertical-line {
  background-color: #d04437;
  position: absolute;
  width: 2px;
  -moz-box-shadow: 0 0 3px #444;
  -webkit-box-shadow: 0 0 3px #444;
  box-shadow: 0 0 3px #e9e9e9;
  z-index: 4005
}

#roadmap-container .roadmap-marker {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: -45px
}

#roadmap-container .roadmap-marker .marker-drag-placeholder {
  height: 100%;
  width: 12px;
  left: -5px;
  cursor: move
}

#roadmap-container .roadmap-marker .marker-title-wrapper {
  position: absolute;
  text-align: center;
  width: 100px;
  clip: rect(auto, 50px, auto, -50px);
  line-height: 17px
}

#roadmap-container .roadmap-marker .marker-title {
  left: -50%;
  position: relative;
  color: #d04437;
  cursor: pointer;
  word-wrap: break-word;
  -webkit-backface-visibility: hidden
}

.ui-resizable {
  position: relative
}

.ui-resizable-handle {
  position: absolute;
  font-size: .1px;
  z-index: 99999;
  display: block
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none
}

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0
}

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0
}

.ui-resizable-e {
  cursor: col-resize;
  width: 14px;
  right: -5px;
  top: 0;
  height: 100%
}

.ui-resizable-w {
  cursor: col-resize;
  width: 14px;
  left: -5px;
  top: 0;
  height: 100%
}

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px
}

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px
}

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px
}

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px
}

#lane-color-picker {
  z-index: 4012
}

#lane-color-picker .color-item {
  width: 19px;
  height: 19px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  display: block
}

#lane-color-picker .aui-list-truncate {
  padding: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-radius: 0 3px 3px;
  background-color: #f2f2f2
}

#lane-color-picker .aui-list-truncate .color-display-item {
  display: inline-block;
  margin: 0 5px 5px 0
}

#lane-color-picker .color-item:hover {
  border: 1px solid #333
}

#lane-color-picker .aui-iconfont-success {
  color: #f5f5f5
}

#lane-color-picker .aui-iconfont-success:before {
  padding-left: 1px
}

#roadmap-container .lane-sorting-hepler {
  border: 1px solid #ccc
}

#roadmap-container .lane-sorting-placeholder>.roadmap-lane-title,
#roadmap-container .lane-sorting-placeholder>.roadmap-separate-content,
#roadmap-container .lane-sorting-placeholder>.roadmap-lane-content {
  border-style: dashed
}

#inline-dialog-roadmap-dialog .editable-field {
  margin: 5px 10px;
  padding: 3px;
  border: 1px solid transparent;
  word-wrap: break-word;
  position: relative;
  line-height: 20px;
  padding-right: 20px
}

#roadmap-container .roadmap-drag-area {
  position: absolute;
  overflow: hidden
}

/* module-key = 'com.atlassian.confluence.plugins.confluence-roadmap-plugin:roadmap-editor-resources-conf-frontend', location = 'editor/datepicker-patch.css' */
.datepicker-roadmap-patch {
  z-index: 5000
}

.datepicker-roadmap-patch .ui-widget-content {
  border: 0
}

.datepicker-roadmap-patch .hasDatepicker .ui-widget-header {
  background: 0;
  border: 0
}

.datepicker-roadmap-patch .ui-datepicker-calendar .ui-state-default {
  border-color: transparent
}

.datepicker-roadmap-patch .hasDatepicker .ui-datepicker-prev,
.datepicker-roadmap-patch .hasDatepicker .ui-datepicker-next {
  background-image: none
}

.datepicker-roadmap-patch .ui-datepicker-prev .ui-icon,
.datepicker-roadmap-patch .ui-datepicker-next .ui-icon {
  width: 10px;
  text-indent: 0;
  background: 0
}

.datepicker-roadmap-patch .ui-datepicker-prev.ui-state-hover:hover,
.datepicker-roadmap-patch .ui-datepicker-next:hover {
  color: #3b73af;
  font-weight: bold;
  background: 0;
  border: 0;
  outline: 0
}

.datepicker-roadmap-patch .ui-datepicker {
  position: relative
}

.datepicker-roadmap-patch .ui-icon-circle-triangle-w,
.datepicker-roadmap-patch .ui-icon-circle-triangle-e {
  height: 35px
}

.datepicker-roadmap-patch .ui-datepicker-calendar>tbody>tr>td {
  padding: 1px
}
