<!-- views/partials/header.ejs -->

<nav class='nav'>
    <ul class='message-list'>
        <li class='bulletin-board'><a href='/'><i class="material-icons">list</i></a></li>
        <li class='add-message'><a href='/add-message'><i class="material-icons">note_add</i></a></li>
    </ul>
</nav>