<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>cloud</title>
<style type="text/css">
HTML {font-size: small; font-family: sans-serif}
BODY {background: #F8F8FA}
A {text-decoration: none}
A:hover {color: #FFF; background: #006699; border-radius: 8px; padding-left: 3px; padding-right: 3px;}
TABLE.fancy {background: #DFDFDF; border-left: 1px solid;
   border-top: 1px solid; border-bottom: 0px solid; border-color: #FFF}
TABLE.fancy TD {border-right: 1px solid; border-bottom: 1px solid;
  border-color: #FFF; text-align: center; padding-right: 5px}
TABLE.fancy TD.no-right {border-right: 0px}
TABLE.fancy TD.right {text-align: right}
TABLE.fancy TD.left {text-align: left}
TABLE.fancy TD.center {text-align: center}
TABLE.fancy TH {border-right: 1px solid; border-bottom: 1px solid; text-align: center;
   background: #488CB1; color: #FFF; border-color: #FFF; font-weight: bold}
.anchor {font-weight: bold; border-top: 0px solid; text-align: center;
   border-bottom: 1px solid; background: #006699; color: #FFF}
.dark-blue {font-weight: bold; border-top: 0px solid; text-align: center;
   border-bottom: 1px solid; background:#00537D; color: #FFF}
.no-top-border {border-top: 0px}
.centered {margin: auto}
.rZ {text-align: right}
.row2 {background: #D3D3E1}
</style>
</head>

<body>

<table border="0" cellspacing="0" cellpadding="3" summary="file table" class="fancy centered">
<tr><td colspan="16" class="dark-blue" style="text-align: center"><b>Folders</b></td></tr>
<tr><td class="left"><a href="../right.html" target="rframe">&lt;parent&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="0" cellpadding="3" summary="file table" class="fancy centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td class="left"><a href="aws_1.png">aws_1.png</a>&nbsp;</td><td class="left"><a href="aws_4.xml">aws_4.xml</a>&nbsp;</td><td class="left"><a href="azure_1.png">azure_1.png</a>&nbsp;</td><td class="left"><a href="azure_6.png">azure_6.png</a>&nbsp;</td><td class="left"><a href="gcp_big_data_complex_event_processing.png">gcp_big_data_complex_event_processing.png</a>&nbsp;</td><td class="left"><a href="gcp_general_app_engine_and_cloud_endpoints.png">gcp_general_app_engine_and_cloud_endpoints.png</a>&nbsp;</td><td class="left"><a href="gcp_websites_content_hosting.png">gcp_websites_content_hosting.png</a>&nbsp;</td><td class="left"><a href="ibm_iot_architecture.png">ibm_iot_architecture.png</a>&nbsp;</td></tr>
<tr class="row2"><td class="left"><a href="aws_1.xml">aws_1.xml</a>&nbsp;</td><td class="left"><a href="aws_5.png">aws_5.png</a>&nbsp;</td><td class="left"><a href="azure_1.xml">azure_1.xml</a>&nbsp;</td><td class="left"><a href="azure_6.xml">azure_6.xml</a>&nbsp;</td><td class="left"><a href="gcp_big_data_complex_event_processing.xml">gcp_big_data_complex_event_processing.xml</a>&nbsp;</td><td class="left"><a href="gcp_general_app_engine_and_cloud_endpoints.xml">gcp_general_app_engine_and_cloud_endpoints.xml</a>&nbsp;</td><td class="left"><a href="gcp_websites_content_hosting.xml">gcp_websites_content_hosting.xml</a>&nbsp;</td><td class="left"><a href="ibm_iot_architecture.xml">ibm_iot_architecture.xml</a>&nbsp;</td></tr>
<tr><td class="left"><a href="aws_10.png">aws_10.png</a>&nbsp;</td><td class="left"><a href="aws_5.xml">aws_5.xml</a>&nbsp;</td><td class="left"><a href="azure_2.png">azure_2.png</a>&nbsp;</td><td class="left"><a href="azure_7.png">azure_7.png</a>&nbsp;</td><td class="left"><a href="gcp_dev_test_continuous_delivery_with_spinnaker.png">gcp_dev_test_continuous_delivery_with_spinnaker.png</a>&nbsp;</td><td class="left"><a href="gcp_internet_of_things_mqtt_to_pubsub_broker.png">gcp_internet_of_things_mqtt_to_pubsub_broker.png</a>&nbsp;</td><td class="left"><a href="ibm_bda_reference_architecture.png">ibm_bda_reference_architecture.png</a>&nbsp;</td><td class="left"><a href="ibm_microservices.png">ibm_microservices.png</a>&nbsp;</td></tr>
<tr class="row2"><td class="left"><a href="aws_10.xml">aws_10.xml</a>&nbsp;</td><td class="left"><a href="aws_6.png">aws_6.png</a>&nbsp;</td><td class="left"><a href="azure_2.xml">azure_2.xml</a>&nbsp;</td><td class="left"><a href="azure_7.xml">azure_7.xml</a>&nbsp;</td><td class="left"><a href="gcp_dev_test_continuous_delivery_with_spinnaker.xml">gcp_dev_test_continuous_delivery_with_spinnaker.xml</a>&nbsp;</td><td class="left"><a href="gcp_internet_of_things_mqtt_to_pubsub_broker.xml">gcp_internet_of_things_mqtt_to_pubsub_broker.xml</a>&nbsp;</td><td class="left"><a href="ibm_bda_reference_architecture.xml">ibm_bda_reference_architecture.xml</a>&nbsp;</td><td class="left"><a href="ibm_microservices.xml">ibm_microservices.xml</a>&nbsp;</td></tr>
<tr><td class="left"><a href="aws_2.png">aws_2.png</a>&nbsp;</td><td class="left"><a href="aws_6.xml">aws_6.xml</a>&nbsp;</td><td class="left"><a href="azure_3.png">azure_3.png</a>&nbsp;</td><td class="left"><a href="azure_8.png">azure_8.png</a>&nbsp;</td><td class="left"><a href="gcp_digital_marketing_dmp_data_warehouse.png">gcp_digital_marketing_dmp_data_warehouse.png</a>&nbsp;</td><td class="left"><a href="gcp_lifesciences_genomics_secondary_analysis.png">gcp_lifesciences_genomics_secondary_analysis.png</a>&nbsp;</td><td class="left"><a href="ibm_blockchain.png">ibm_blockchain.png</a>&nbsp;</td><td class="left"><a href="ibm_private_cloud.png">ibm_private_cloud.png</a>&nbsp;</td></tr>
<tr class="row2"><td class="left"><a href="aws_2.xml">aws_2.xml</a>&nbsp;</td><td class="left"><a href="aws_7.png">aws_7.png</a>&nbsp;</td><td class="left"><a href="azure_3.xml">azure_3.xml</a>&nbsp;</td><td class="left"><a href="azure_8.xml">azure_8.xml</a>&nbsp;</td><td class="left"><a href="gcp_digital_marketing_dmp_data_warehouse.xml">gcp_digital_marketing_dmp_data_warehouse.xml</a>&nbsp;</td><td class="left"><a href="gcp_lifesciences_genomics_secondary_analysis.xml">gcp_lifesciences_genomics_secondary_analysis.xml</a>&nbsp;</td><td class="left"><a href="ibm_blockchain.xml">ibm_blockchain.xml</a>&nbsp;</td><td class="left"><a href="ibm_private_cloud.xml">ibm_private_cloud.xml</a>&nbsp;</td></tr>
<tr><td class="left"><a href="aws_3.png">aws_3.png</a>&nbsp;</td><td class="left"><a href="aws_7.xml">aws_7.xml</a>&nbsp;</td><td class="left"><a href="azure_4.png">azure_4.png</a>&nbsp;</td><td class="left"><a href="azure_9.png">azure_9.png</a>&nbsp;</td><td class="left"><a href="gcp_financial_services_monte_carlo_simulations.png">gcp_financial_services_monte_carlo_simulations.png</a>&nbsp;</td><td class="left"><a href="gcp_media_hybrid_rendering.png">gcp_media_hybrid_rendering.png</a>&nbsp;</td><td class="left"><a href="ibm_cognitive_conversation.png">ibm_cognitive_conversation.png</a>&nbsp;</td><td class="left"><a href="ibm_vcenter_server_platform.png">ibm_vcenter_server_platform.png</a>&nbsp;</td></tr>
<tr class="row2"><td class="left"><a href="aws_3.xml">aws_3.xml</a>&nbsp;</td><td class="left"><a href="aws_8.png">aws_8.png</a>&nbsp;</td><td class="left"><a href="azure_4.xml">azure_4.xml</a>&nbsp;</td><td class="left"><a href="azure_9.xml">azure_9.xml</a>&nbsp;</td><td class="left"><a href="gcp_financial_services_monte_carlo_simulations.xml">gcp_financial_services_monte_carlo_simulations.xml</a>&nbsp;</td><td class="left"><a href="gcp_media_hybrid_rendering.xml">gcp_media_hybrid_rendering.xml</a>&nbsp;</td><td class="left"><a href="ibm_cognitive_conversation.xml">ibm_cognitive_conversation.xml</a>&nbsp;</td><td class="left"><a href="ibm_vcenter_server_platform.xml">ibm_vcenter_server_platform.xml</a>&nbsp;</td></tr>
<tr><td class="left"><a href="aws_3d.png">aws_3d.png</a>&nbsp;</td><td class="left"><a href="aws_8.xml">aws_8.xml</a>&nbsp;</td><td class="left"><a href="azure_5.png">azure_5.png</a>&nbsp;</td><td class="left"><a href="gcp_backup_and_archive_api_hosting.png">gcp_backup_and_archive_api_hosting.png</a>&nbsp;</td><td class="left"><a href="gcp_gaming_backend_database.png">gcp_gaming_backend_database.png</a>&nbsp;</td><td class="left"><a href="gcp_retail_beacons_and_targeted_marketing.png">gcp_retail_beacons_and_targeted_marketing.png</a>&nbsp;</td><td class="left"><a href="ibm_cognitive_discovery.png">ibm_cognitive_discovery.png</a>&nbsp;</td><td class="left"><a href="ibm_vpc_architecture.png">ibm_vpc_architecture.png</a>&nbsp;</td></tr>
<tr class="row2"><td class="left"><a href="aws_3d.xml">aws_3d.xml</a>&nbsp;</td><td class="left"><a href="aws_9.png">aws_9.png</a>&nbsp;</td><td class="left"><a href="azure_5.xml">azure_5.xml</a>&nbsp;</td><td class="left"><a href="gcp_backup_and_archive_api_hosting.xml">gcp_backup_and_archive_api_hosting.xml</a>&nbsp;</td><td class="left"><a href="gcp_gaming_backend_database.xml">gcp_gaming_backend_database.xml</a>&nbsp;</td><td class="left"><a href="gcp_retail_beacons_and_targeted_marketing.xml">gcp_retail_beacons_and_targeted_marketing.xml</a>&nbsp;</td><td class="left"><a href="ibm_cognitive_discovery.xml">ibm_cognitive_discovery.xml</a>&nbsp;</td><td class="left"><a href="ibm_vpc_architecture.xml">ibm_vpc_architecture.xml</a>&nbsp;</td></tr>
<tr><td class="left"><a href="aws_4.png">aws_4.png</a>&nbsp;</td><td class="left"><a href="aws_9.xml">aws_9.xml</a>&nbsp;</td></tr>
</table>

<p style="font-weight: bold; margin-bottom: 0px">
Folders:  1<br>
Files: 82<br>
Size of all files: 388544 K</p>

</body>
</html>