/* module-key = 'com.atlassian.confluence.plugins.confluence-create-content-plugin:resources', location = 'com/atlassian/confluence/plugins/createcontent/css/create-dialog-initial.less' */
#create-dialog .wait-container {
  display: none;
}
#create-dialog .loading .wait-container {
  text-align: center;
  left: 50%;
  position: absolute;
  top: 50%;
  display: block;
}
#create-dialog .loadable {
  display: block;
}
#create-dialog .loading > .loadable {
  display: none;
}
#create-dialog h2.dialog-title {
  line-height: 25px;
}
#create-dialog h2.dialog-title .dialog-help-link {
  margin-top: 2px;
}
#create-dialog .dom-filter-field-form {
  margin-right: 10px;
}
#create-dialog .aui-button {
  margin-right: 10px;
}
#create-dialog .aui-button.aui-button-primary {
  margin-left: 0;
}

/* module-key = 'com.atlassian.confluence.plugins.confluence-create-content-plugin:resources', location = 'com/atlassian/confluence/plugins/createcontent/css/create-buttons-group.less' */
#create-page-button.clc-create-dialog-btn {
  margin-left: 1px;
  margin-right: 5px;
}
#create-page-button.clc-create-dialog-btn .aui-icon {
  margin-top: 3px;
}
/*CONFDEV-38608*/
#quick-create-page-button {
  margin-right: 0px;
}
/* style for discovery tooltip*/
#inline-dialog-discoveryTooltip .title {
  font-weight: bold;
  color: #707070;
  font-size: 12px;
  margin-bottom: 15px;
}
#inline-dialog-discoveryTooltip .contents {
  border: 2px solid #f79232;
  border-radius: 2px;
}
#inline-dialog-discoveryTooltip #closeDisDialog {
  margin-top: 10px;
}
#arrow-discoveryTooltip:before {
  border-color: #f79232 rgba(0, 0, 0, 0);
}
#arrow-discoveryTooltip:after {
  top: 4px;
}
