/****
global.css settings after normalizing
****/

html {
  height: 100%;
}

div {
  box-sizing: border-box;
}

.body {
  height: 100%;
  min-width: 250px;
}

p {
  font-size: 1.3em;
}

h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 1.5em;
}


a {
  color: var(--primary-color-dark);
}

a:hover {
  text-shadow: 0px 0px 1px var(--primary-color-dark);
}

/* Global "ev" name scoped selectors */
.ev-success {
  color: var(--success-color);
}

.ev-error {
  color: var(--error-color);
}

/* Icons */
.ev-icon {
  display: block;
  padding: var(--icon-padding);
  margin: var(--icon-margin);;
  color: white;
}

.ev-icon.loader {
  color: var(--primary-color);
  animation: rotate-loader 1s linear infinite;
}

.ev-icon.loader.in-text {
  display: inline-block;
  height: 1em;
  width: 1em;
  padding: 0;
  margin:  0 .1em -.1em .1em;
  background-image: radial-gradient(circle at 50%, rgba(0,0,0,0) 1em, orange 3px);
  border-radius: 50%;
}

@keyframes rotate-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.active .ev-icon {
  filter:drop-shadow(3px 3px 2px var(--primary-color-dark));
  cursor: default;
}

nav .ev-icon:hover,
a:not(.active) > .ev-icon:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* Scroll Bar standards */

* {
/* The emerging W3C standard that is currently Firefox-only */
  scrollbar-width: 12px;
}
/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px; /* vertical bar */
  height: 12px; /* horizontal bar */
}
*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 1px solid rgba(204, 203, 203, 0);
  background-clip: padding-box;
}

/* Buttons */
button {
  color: white;
  display: inline-block;
  padding: 6px 12px;
  background: var(--button-primary-background);
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  outline: none;
}

button.in-text {
  padding: 3px 6px;
  margin: -.2em 3px 0;
  font-size: .7em;
  position: relative;
  top: -.2em;
}

button.icon {
  padding: var(--icon-button-padding);
  font-size: var(--icon-button-font-size);
  background: var(--icon-button-primary-background);
}

button:hover,
button:active,
button.icon:hover,
button.icon:active {
  cursor: pointer;
  color: var(--primary-color-white);
  background: var(--button-primary-background-hover);
}

button:active {
  top: 1px;
  left: 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


/* Inputs */
.ev-form-errors {
  color: var(--error-color);
}
form {
  font-size: 1.1em;
}

input {
  padding: 4px;
}
