body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  color: #444;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  color: #444;
  margin-top: 30px;
}

a, a:visited {
  color: #444;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#tablesWrapper {
  display: inline-block;
}

table {
  display: inline-block;
}

table code {
  font-size: 12px;
  padding: 3px;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  display: inline-block;
  border-radius: 2px;
}

table th {
  font-weight: bold;
  border-radius: 2px;
  padding: 3px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
  background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
  background-image: -o-linear-gradient(top,#fff,#f2f2f2);
  background-image: linear-gradient(to bottom,#fff,#f2f2f2);
  background-repeat: repeat-x;
  font-weight: normal;
  text-align: left;
}

table tr td {
  white-space: nowrap;
}

table tr td:first-child {
  text-align: left;
}

#legend tr td:first-child {
  text-align: center;
}

#header {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
  background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
  background-image: -o-linear-gradient(top,#fff,#f2f2f2);
  background-image: linear-gradient(to bottom,#fff,#f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

#header #logo {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
}

#header #download {
  display: block;
  float: right;
  padding: 10px;
  font-size: 16px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
}

#page {
  padding: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  min-width: 800px;
}

.gray {
  border: 1px solid #adadad;
  color: black;
  background-color: #e3e3e3;
}

.green {
  border: 1px solid #286500;
  color: black;
  background-color: #53d000;
}

.yellow-green {
  border: 1px solid #286500;
  color: black;
  background-color: #C8EA00;
}

.yellow {
  border: 1px solid #6f6e00;
  color: black;
  background-color: yellow;
}

.orange {
  border: 1px solid #b20000;
  color: black;
  background-color: #FFC543;
}

.red {
  border: 1px solid #b20000;
  color: black;
  background-color: #ff8989;
}

#shareButtons {
  min-height: 44px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: inline-block;
}

#reading {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

#reading li {
  /*display: inline-block;*/
  margin-right: 20px;
  /*border: 2px solid #bbb;*/
  margin-bottom: 10px;
}

#contributers {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#contributers li {
  display: inline-block;
}

#contributers li a {
  margin: 0 5px 5px 0;
  display: inline-block;
  border-radius: 2px;
  padding: 3px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
  background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
  background-image: -o-linear-gradient(top,#fff,#f2f2f2);
  background-image: linear-gradient(to bottom,#fff,#f2f2f2);
  background-repeat: repeat-x;
  text-decoration: none;

}

#chartTitle {
  display: inline-block;
  width: 800px;
  text-align: center;
  margin-left: 50px;
}

#legend {
  margin-left: 40px;
}

#chart {
  margin-top: 0;
  max-width: 800px;
}

span.mute {
  font-size: 16px;
  color: #aaa;
  display: block;
}

.google-ad {
  margin-top: 20px;
  transition: transform 1s ease-in-out;
}

.google-ad.flip {
  transform: rotateX(360deg);
}

#disqusWrapper {
  /*background-color: #333;*/
  padding: 20px;
}

#disqusWrapper a {
  /*color: #aaa;*/
}

#poster {
  display: inline-block;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

@media (max-width: 800px) {
  .facet_sidebar {
    display: none;
  }
}

.sharethis-inline-share-buttons {
  margin-top: 20px;
}

.promo a, .promo a:visited {
  font-size: 24px;
  color: orangered;
}

/* ------------- PDF ------------- */

#page.pdf table code {
  font-size: 10px;
}

#page.pdf table th {
  background-image: none;
  background-color: #e3e3e3;
}

#page.pdf #graph-algorithms {

}

#page.pdf a {
  text-decoration: none;
}

