/* module-key = 'com.atlassian.confluence.plugins.confluence-create-content-plugin:create-from-template-resources', location = 'com/atlassian/confluence/plugins/createcontent/css/create-from-template-macro.css' */
#main-content a.create-from-template-button {
  color: #333
}
