/* module-key = 'com.atlassian.confluence.plugins.gadgets:css', location = 'style/form.css' */
#gadget-edit-div form.aui {
  background: #fff;
  margin-bottom: 0;
  padding: 15px 15px 0
}

#gadget-edit-div form.aui fieldset {
  margin-bottom: 0;
  padding-bottom: 5px
}

#gadget-edit-div form.top-label fieldset {
  margin: 0 auto;
  width: 230px
}

#gadget-edit-div form.aui .text {
  width: 225px
}

#gadget-edit-div form.aui .list-container label {
  padding-top: 2px
}

#gadget-edit-div form.aui .list-container ul.faux-list {
  line-height: 1.2;
  margin: 0 0 .4em 0
}

#gadget-edit-div form.aui .list-container ul.faux-list li {
  min-height: 1.4em;
  overflow: auto
}

#gadget-edit-div form.aui .list-container ul.faux-list li span {
  display: block;
  float: left;
  margin: 0 .3em 0 0;
  min-width: 3em;
  width: auto
}

#gadget-edit-div form.aui .list-container ul.faux-list li a,
#gadget-edit-div form.aui .list-container ul.faux-list li a:link,
#gadget-edit-div form.aui .list-container ul.faux-list li a:visited {
  background: transparent url('//d2cyaw4z41y1zi.cloudfront.net/nickguner.atlassian.net/wiki/s/1000.0.0-da105be110ec/_/download/resources/com.atlassian.confluence.plugins.gadgets:css/../../resources/com.atlassian.gadgets.dashboard%3Adashboard/css/images/icoblack_delete.png') no-repeat 0 0;
  display: block;
  float: left;
  height: 13px;
  margin: .2em 0 0 0;
  text-indent: -9999px;
  width: 13px
}

#gadget-edit-div form.aui .list-container ul.faux-list li a:hover,
#gadget-edit-div form.aui .list-container ul.faux-list li a:active,
#gadget-edit-div form.aui .list-container ul.faux-list li a:focus {
  background-image: url('//d2cyaw4z41y1zi.cloudfront.net/nickguner.atlassian.net/wiki/s/1000.0.0-da105be110ec/_/download/resources/com.atlassian.confluence.plugins.gadgets:css/../../resources/com.atlassian.gadgets.dashboard%3Adashboard/css/images/ico_delete.png')
}

#gadget-edit-div form.aui .list-container button.js {
  padding: 2px 4px 3px 4px
}

#gadget-edit-div form.aui div.submit {
  text-align: center
}

form.aui p.gadget-security-warning,
form.aui p.gadget-description,
form.aui p.gadget-spec-description {
  padding-bottom: 5px
}

/* module-key = 'com.atlassian.confluence.plugins.gadgets:css', location = 'style/gadgets.css' */
#macro-browser-edit-link {
  display: block;
  color: #036;
  outline: 0;
  background: url(//d2cyaw4z41y1zi.cloudfront.net/nickguner.atlassian.net/wiki/s/1000.0.0-da105be110ec/_/download/resources/com.atlassian.confluence.plugins.gadgets:css/../../../images/icons/edit_16.gif) no-repeat;
  padding-left: 22px
}

span.gadget-not-configured-warning {
  background: url(//d2cyaw4z41y1zi.cloudfront.net/nickguner.atlassian.net/wiki/s/1000.0.0-da105be110ec/_/download/resources/com.atlassian.confluence.plugins.gadgets:css/../../../images/icons/emoticons/warning.png) no-repeat 10px 50%;
  padding-left: 30px;
  padding-right: 10px;
  margin-left: 50px;
  color: #333;
  font-size: .8em
}

#macro-browser-edit-link.disabled {
  color: #ccc;
  cursor: default;
  text-decoration: none
}

#gadget-edit-div {
  overflow: auto;
  height: 400px
}

.gadget {
  width: 100%
}
