/* module-key = 'confluence.web.resources:property-panel-css', location = 'includes/css/components/property-panel.css' */
#property-panel {
  position: absolute;
  background: 0;
  border: 0;
  padding: 0;
  border-radius: 3px
}

#property-panel .property-panel-arrow {
  position: absolute;
  top: -7px;
  width: 1px;
  z-index: 3002
}

#property-panel .property-panel-arrow::after,
#property-panel .property-panel-arrow::before {
  border-color: #ccc transparent;
  border-style: solid;
  border-width: 0 8px 8px;
  content: "";
  left: 2px;
  position: absolute;
  top: 0
}

#property-panel .property-panel-arrow:after {
  border-bottom-color: #f5f5f5;
  top: 1px
}

#property-panel .property-panel-arrow.property-panel-bottom-arrow:after,
#property-panel .property-panel-arrow.property-panel-bottom-arrow:before {
  border-width: 8px 8px 0
}

#property-panel .property-panel-arrow.property-panel-bottom-arrow:after {
  border-top-color: #f5f5f5;
  top: -1px
}

#property-panel .panel-buttons {
  white-space: nowrap
}

#property-panel a.aui-button,
#property-panel a.aui-button:hover,
#property-panel a.aui-button:active,
#property-panel a.aui-button:focus {
  vertical-align: top;
  color: #333;
  text-decoration: none
}

#property-panel a.aui-button~a.aui-button {
  border-left-width: 0
}

#property-panel a.aui-button~a.aui-button:hover,
#property-panel a.aui-button~a.aui-button:active,
#property-panel a.aui-button~a.aui-button:focus {
  margin-left: -1px;
  border-width: 1px;
  position: relative
}

#property-panel div.panel-buttons a.aui-button.first,
#property-panel div.panel-buttons a.aui-button.first:hover,
#property-panel div.panel-buttons a.aui-button.first:active,
#property-panel div.panel-buttons a.aui-button.first:focus {
  border-width: 1px;
  margin-left: 0
}

#property-panel a.aui-button {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  border-radius: 0
}

#property-panel a.aui-button,
#property-panel a.aui-button span {
  line-height: 30px
}

#property-panel a.selected {
  background-image: none;
  background-color: #f2f2f2;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, .1);
  text-shadow: none;
  text-decoration: none
}

#property-panel #image-size-input {
  margin-right: 10px
}

#property-panel .editable {
  border-radius: 3px;
  background: transparent;
  border: 1px solid #CCC;
  box-sizing: border-box;
  font-size: 14px;
  float: left;
  padding: 4px;
  text-align: center;
  height: 30px;
  width: 60px;
  cursor: text;
  -moz-box-sizing: border-box
}

#property-panel .editable:active,
#property-panel .editable:hover,
#property-panel .editable:focus {
  border: 1px solid #999
}

#property-panel .editable:focus {
  background: #fff
}

#property-panel a.first {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}

#property-panel a.last {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0 10px 0 0
}

#property-panel a:hover {
  background-position: 100% 0;
  color: #4f85bc
}

#property-panel a.image-size-small,
#property-panel a.image-size-medium,
#property-panel a.image-size-large {
  padding: 0 4px
}

#property-panel a span.icon {
  background-image: url(//d2cyaw4z41y1zi.cloudfront.net/nickguner.atlassian.net/wiki/s/1000.0.0-da105be110ec/_/download/resources/confluence.web.resources:property-panel-css/../../images/icons/property-panel-image.png);
  display: none;
  float: left;
  height: 17px;
  margin: 5px 0 0 0;
  width: 16px
}

#property-panel a.image-size-small span.panel-button-text,
#property-panel a.image-size-medium span.panel-button-text,
#property-panel a.image-size-large span.panel-button-text {
  font-size: 0
}

#property-panel a.image-size-small span.icon,
#property-panel a.image-size-medium span.icon,
#property-panel a.image-size-large span.icon,
#property-panel a.image-make-link span.icon {
  display: inline
}

#property-panel a.image-make-link span.icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHAnFTKsAAAAD3RSTlMAESIzRFVmd4iZqrvM3e5GKvWZAAAAWUlEQVQIW2NgQAZWJyA0+++5l8AM3gSG6zDJUyCCeaYCyxUQI/bMY74FQJrxJoPhWQEgQ/bADKmHIJl1AnlvDUCMqwwMAmCdjxnkAsCMvSV3ICKc7zcwYAUAjz0WbHRhn40AAAAASUVORK5CYII=) no-repeat center
}

#property-panel a.image-size-small span.icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAgklEQVQ4EWNgGAWM6EGQnZ3txczMPJOJiUkGXQ7EnzBhAooeJnRF2DT39/czgDA2gGEANpsLCwux6QWLYRiArtLdzR0shMsQvAaANO/ctRPdTBQ+VgNg/iWkGWQSVgNAEjBDQGwY+Pfv3xMYG0azwBjINDb/gjT//fs3HVndKBsSAgAOXyC/ymK9xAAAAABJRU5ErkJggg==) no-repeat center
}

#property-panel a.image-size-medium span.icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAuUlEQVQ4EcVSyxGDIBQkIZMayNBPrICj6YGLRw9JAVBDutCGpAlm4tNZ5gnxc5MDb9/6dmcBhTh7XRDAGHNXSr2llK+Re4Bfq977SXvDgNb6M+IGfV6dc4my1iZ8TUiImuECkogLMcANNmNXzwqaReUGiw+8IXHXdxOVp9g14GJuCrxpsCcmk1WDI+LCAE91VFwYEEELFzZ3f/cBbHEESoEkGMprjPELLv2JRORPhCFWBxKHEFrGnQx/j2oxZYr1oOoAAAAASUVORK5CYII=) no-repeat center
}

#property-panel a.image-size-large span.icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAtElEQVQ4EZWSzRHCIBCF5WesgbEgUwFHe4CTtxxsgCKsIhbkUAU4zxmZJRhY9rSPfd8DQoS19myMeQghblLKy2myNGCl1H2SK3aNnYvqNCGEauq9/2rNPfYPAEXDZBU7EMt1aRzsAMDba2sChHMuN6u7hSMYtuEJevAwYAR3AzhwFUCfhgtXARCoGRj+5iP+eyoYj0rTAb0G/fOoh/YppXcJ4AAURp9zfpaA/bCnsTPgGOP6AWHWPMla3pc0AAAAAElFTkSuQmCC) no-repeat center
}

#property-panel a.disabled,
#property-panel a.disabled:active,
#property-panel a.disabled:hover,
#property-panel a.disabled:focus {
  background: #f2f2f2;
  background: -moz-linear-gradient(top, white 0, #f2f2f2 100%);
  background: -webkit-linear-gradient(top, white 0, #f2f2f2 100%);
  background: -o-linear-gradient(top, white 0, #f2f2f2 100%);
  background: -ms-linear-gradient(top, white 0, #f2f2f2 100%);
  background: linear-gradient(top, white 0, #f2f2f2 100%);
  border-color: #CCC;
  box-shadow: none;
  color: #999;
  cursor: default;
  text-shadow: none
}

.aui-property-panel {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 3px;
  padding: 10px;
  overflow: auto
}
