/* module-key = 'confluence.web.resources:dom-filter-field', location = 'includes/css/components/dom-filter-field.css' */
.aui.dom-filter-field-form {
  margin: 0;
  float: right
}

.aui.dom-filter-field-form input.text {
  font-size: 14px
}

.aui.dom-filter-field-form input.text.blank-search {
  color: #707070
}
