/* module-key = 'confluence.macros.advanced:portfolioforjiraplan-editor', location = 'com/atlassian/confluence/plugins/macros/advanced/portfolioforjiraplan/editor.css' */
.jpos__macro-dialog.aui-dialog2 {
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  position: fixed;
  max-width: 1200px;
  max-height: 800px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column
}

.jpos__macro-dialog .aui-dialog2-header {
  position: relative;
  padding: 30px 40px 0;
  border-radius: 6px 6px 0 0;
  background-color: #fff;
  border-bottom: 0;
  height: auto
}

.jpos__macro-dialog-header {
  padding: 30px 40px 0;
  border-radius: 6px 6px 0 0;
  background-color: #fff;
  border-bottom: 0;
  height: auto
}

.jpos__macro-dialog-footer {
  position: relative;
  background-color: #fff;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  padding: 0 40px 30px;
  height: auto
}

.jpos__macro-dialog-content {
  padding: 10px 40px 20px;
  margin: -1px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative
}

form.aui.jpos__form {
  flex-direction: column;
  display: flex;
  margin: 0 0 16px
}

.jpos__form-fields {
  display: flex;
  padding-top: 16px;
  justify-content: space-between
}

.jpos__field-error {
  color: #de350b;
  min-height: 20px;
  display: none
}

.jpos__field-error span,
.jpos__iframe-load-timeout span {
  margin-right: 5px
}

.jpos__field-group--flex {
  display: flex;
  align-items: center
}

.jpos__field-group--url {
  flex-grow: 1;
  margin-right: 40px
}

.jpos__field-group--height {
  padding-right: 0;
  flex-shrink: 0
}

form.aui .jpos__url-input {
  margin-right: 10px;
  max-width: 100%
}

form.aui .jpos__height-input {
  width: 100px;
  margin-left: 20px
}

.jpos__height-unit {
  margin-left: 10px;
  font-weight: bold
}

.jpos__size-button,
.jpos__size-button:hover,
.jpos__size-button:focus,
.jpos__size-button:active {
  background-image: url("//d2cyaw4z41y1zi.cloudfront.net/nickguner.atlassian.net/wiki/s/1000.0.0-da105be110ec/_/download/resources/confluence.macros.advanced:portfolioforjiraplan-editor/height.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  width: 32px
}

.jpos__size-button--medium,
.jpos__size-button--medium:hover,
.jpos__size-button--medium:focus,
.jpos__size-button--medium:active {
  background-size: 13px
}

.jpos__size-button--large,
.jpos__size-button--large:hover,
.jpos__size-button--large:focus,
.jpos__size-button--large:active {
  background-size: 16px
}

.jpos__field-label {
  display: flex;
  align-items: center;
  margin: 4px 0;
  color: #6b778c;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px
}

.jpos__field-label--inline {
  display: inline-block
}

.jpos__learn-more {
  margin-left: 5px
}

.jpos__preview-container {
  border: 1px solid #efefef;
  flex: 1
}

.jpos__iframe-container,
.jpos__iframe {
  height: 100%;
  border: 0
}

.jpos__macro-dialog .aui-button.aui-button-link,
.jpos__macro-dialog .aui-button.aui-button-link:visited {
  background-color: transparent;
  border-color: transparent;
  color: #0052cc;
  cursor: pointer;
  text-decoration: none;
  padding: 4px 0
}

.jpos__macro-dialog .aui-button.aui-button-primary,
.jpos__macro-dialog .aui-button.aui-button-primary:visited {
  background-image: none;
  background-color: #0052cc;
  border-color: transparent;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  flex-shrink: 0
}

.jpos__macro-dialog .aui-button.aui-button-primary:hover,
.jpos__macro-dialog .aui-button.aui-button-primary:focus {
  background-color: #0065ff
}

.jpos__macro-dialog .aui-button.aui-button-primary[disabled],
.jpos__macro-dialog .aui-button.aui-button-primary[disabled]:hover,
.jpos__macro-dialog .aui-button.aui-button-primary[disabled]:focus,
.jpos__macro-dialog .aui-button.aui-button-primary[disabled]:visited {
  background-color: #f4f5f7;
  border-color: transparent;
  color: #a5adba;
  cursor: default;
  pointer-events: none
}

.jpos__iframe-load-timeout {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #de350b;
  display: flex;
  align-items: center
}
