/* module-key = 'confluence.aui.staging:confluence-flags', location = 'flag/confluence-flag.css' */
#aui-flag-container>.aui-flag-stack>div.aui-flag-stack-top-item[aria-hidden="false"] {
  display: block;
  transition: transform .5s .5s, top .5s, opacity .8s
}

#aui-flag-container>.aui-flag-stack>div[aria-hidden="false"]:not(.aui-flag-stack-top-item) {
  position: absolute;
  top: 15px;
  left: 0;
  transform: scale(0.85, 0.85);
  -ms-transform: scale(0.85, 0.85);
  transition: top 0, opacity:.8s
}

#aui-flag-container>.aui-flag-stack>div[aria-hidden="false"]:not(.aui-flag-stack-top-item) .aui-message {
  box-shadow: none
}

.aui-flag-stack {
  position: relative
}

.aui-flag-stack .aui-flag[aria-hidden="true"] {
  position: absolute;
  transition: max-height .5s .5s, opacity .4s, left .5s
}

.aui-flag-stack .aui-flag.aui-flag-stack-top-item[aria-hidden="true"] {
  position: relative
}
