/* module-key = 'confluence.extra.jira:dialogsJs-for-conf-frontend', location = '/jira/field-datepicker-patch.css' */
.datepicker-patch {
  z-index: 5000
}

.datepicker-patch .ui-widget-content {
  border: 0
}

.datepicker-patch .hasDatepicker .ui-widget-header {
  background: 0;
  border: 0
}

.datepicker-patch .ui-datepicker-calendar .ui-state-default {
  border-color: transparent
}

.datepicker-patch .hasDatepicker .ui-datepicker-prev,
.datepicker-patch .hasDatepicker .ui-datepicker-next {
  background-image: none
}

.datepicker-patch .ui-datepicker-prev .ui-icon,
.datepicker-patch .ui-datepicker-next .ui-icon {
  width: 10px;
  text-indent: 0
}

.datepicker-patch .ui-datepicker-prev.ui-state-hover:hover,
.datepicker-patch .ui-datepicker-next:hover {
  color: #3b73af;
  font-weight: bold;
  background: 0;
  border: 0;
  outline: 0
}

.datepicker-patch .ui-datepicker {
  position: relative
}

.datepicker-patch .contents {
  width: 320px !important
}

.datepicker-patch .ui-icon-circle-triangle-w,
.datepicker-patch .ui-icon-circle-triangle-e {
  height: 35px
}

/* module-key = 'confluence.extra.jira:dialogsJs-for-conf-frontend', location = '/jira/dialogs.css' */
.create-issue-container .loading-blanket {
  background-color: white;
  opacity: .5;
  z-index: 2550;
  position: absolute;
  width: 100%;
  height: 443px
}

.create-issue-container form.aui .textarea {
  height: 100px;
  max-width: 250px
}

.create-issue-container form.aui .text,
.create-issue-container form.aui .textarea,
.create-issue-container form.aui .select,
.create-issue-container form.aui .multi-select {
  width: 250px
}

#typeSelect option {
  background-position: 1px 2px;
  background-repeat: no-repeat;
  padding: 2px 0 2px 20px;
  vertical-align: middle
}

#my-jira-search tr.search-result a,
#my-jira-search tr.search-result td,
#my-jira-search tr.search-result {
  cursor: pointer
}

.jiraSearchResults.data-table {
  overflow-y: auto
}

#my-recent-issues .jiraSearchResults.data-table {
  height: 443px;
  position: relative
}

#my-recent-issues .jira-server-select~.jiraSearchResults.data-table {
  height: 395px
}

#my-jira-search .jql-insert-check {
  border-top: 1px solid #f0f0f0;
  padding-top: 10px
}

#my-jira-search table.data-table,
.jiraSearchResults table.data-table {
  table-layout: fixed
}

#my-jira-search .data-table .issue-checkbox-column {
  width: 10px;
  text-align: center
}

.jiraSearchResults.data-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  vertical-align: top;
  padding-right: 1%
}

.jiraSearchResults.data-table .issue-key-column {
  width: 25%
}

.jiraSearchResults.data-table .loading-data,
.create-issue-container .loading-blanket .loading-data {
  position: absolute;
  top: 50%;
  left: 50%
}

#insert-menu .macro-jiralink .icon {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZEQTFERUYzNjUzMTFFMDg2MDI5NkMyREVFRjgzQkMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZEQTFERjAzNjUzMTFFMDg2MDI5NkMyREVFRjgzQkMiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkRBMURFRDM2NTMxMUUwODYwMjk2QzJERUVGODNCQyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkRBMURFRTM2NTMxMUUwODYwMjk2QzJERUVGODNCQyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PvER22oAAAFhSURBVHjalNNPKARhGMfxmVlx2ExSDtpCysHmRDiqdVEurgolrooTcVIuHKTIzcWNOKxIifYilESkyGEPFEkphMif71u/qbdpsKY+Ne87z/P+e95xEw29zi9PNyowhveogLxQOwkXpyjFNOLYx6r6zIC7QYJnJZvEFawjhlsc4g7nipnEDqrsFRTiC0+YVd+HvrcgH/dqL2jgK03iu5zBMi/P6HT+9/SgPeYnai94OcMDXkJB5SjTrPYT16oznvaZxTYO0KygahzhGB3qq0Ra8SXYC6qQ1ZI2sIl+PKJI31O4xiKK0Ye1cBXM6bbhFVMYwJu+NSrBJA9hJqqMjmY3h/mJGlUguB8FmMC4neBFnO6SBgkfqEkeDAebKkSV6ESzN6m9ha6oQO+HGpvltlrtem0j5wFGUWe1fd1SN5cBUtZeM5jTu9nO8F9/o6s7cKNDHNFFSupGmgs1j8sg4VuAAQCmOEhjY0zNzAAAAABJRU5ErkJggg==) 0 0 no-repeat;
  margin-top: 0
}

.jira-server-select form.aui .field-group {
  padding-bottom: 5px
}

div.oauth-message {
  margin: 20px 10px 0;
  padding: 10px;
  background-color: #e0efff;
  border: 1px solid #9eb6d4;
  border-radius: 5px
}

.jira-server-select form.aui {
  margin-bottom: 8px
}

.create-issue-container {
  overflow-y: auto;
  width: 100%;
  height: 100%
}

.jira-search-form form.aui fieldset.inline>select {
  margin-right: 10px;
  padding-top: 5px
}

.jira-search-form select,
.jira-search-form input {
  padding: 1px
}

.jira-search-form div.search-help {
  font-size: 10px;
  margin-bottom: 10px
}

#jira-connector .aui-message-container :first-child {
  margin-top: 0
}

#jira-connector table.data-table tr:focus {
  outline: 0
}

#jira-connector .dialog-button-panel .aui-icon-wait {
  margin-right: 10px
}

#my-jira-search {
  position: relative;
  z-index: 40;
  height: 463px;
  overflow: hidden
}

#my-jira-search div.search-input {
  display: inline-block;
  width: 290px;
  margin-right: 10px
}

#my-jira-search div.search-input.one-server {
  width: 560px
}

#my-jira-search .group {
  padding: 4px 0 4px 145px
}

.jql-display-opts-overlay {
  position: absolute;
  z-index: 50;
  width: 100%;
  background: #FFF;
  border-top: 1px solid #ccc
}

.jql-display-opts-inner {
  padding: 12px 15px
}

.jql-display-opts-close span {
  background: url(//d2cyaw4z41y1zi.cloudfront.net/nickguner.atlassian.net/wiki/s/1000.0.0-da105be110ec/_/download/resources/confluence.extra.jira:dialogsJs-for-conf-frontend/bullets.png) no-repeat left -50px;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px
}

.jql-display-opts-bar {
  border-top: 1px solid #ccc;
  padding: 10px 15px
}

a.jql-display-opts-open {
  font-size: 14px;
  line-height: 14px
}

a.jql-display-opts-open.disabled {
  opacity: .5;
  text-decoration: none;
  cursor: help;
  color: #838383
}

a.jql-display-opts-open strong,
a.jql-display-opts-close strong {
  margin-right: 4px
}

a.jql-display-opts-open span {
  background: url(//d2cyaw4z41y1zi.cloudfront.net/nickguner.atlassian.net/wiki/s/1000.0.0-da105be110ec/_/download/resources/confluence.extra.jira:dialogsJs-for-conf-frontend/bullets.png) no-repeat left 3px;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px
}

#my-jira-search .jiraSearchResults.data-table {
  height: 365px
}

.aui-dialog .dialog-panel-body .warning-body {
  padding: 20px
}

.app_link {
  margin-right: 10px
}

#jira-connector .dialog-panel-body {
  padding: 20px 0 0 0
}

#jira-connector .jira-search-form {
  padding-left: 10px
}

#jira-connector .aui-message.warning,
#jira-connector .aui-message.error,
#jira-connector .aui-message.info {
  margin: 0 10px
}

#jira-connector input.long-field {
  max-width: 560px
}

#jira-connector .dialog-tip {
  max-width: 530px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.search-input .search-text {
  max-width: 290px !important
}

#my-jira-search .view-all {
  margin: 10px
}

#jira-connector .select2-container-multi.select2-container-disabled .select2-search-choice {
  padding: 1px 5px
}

.field-group .aui-icon-wait {
  margin-left: 5px
}

#jira-connector .button-panel-button.disabled {
  background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-color: #ccc;
  box-shadow: none;
  color: #999;
  cursor: default;
  text-shadow: none
}
