/* module-key = 'confluence.web.resources:linkpopup-resources', location = 'includes/css/linkpage.css' */
#link-page-popup .dialog-panel-body,#link-page-popup-form{overflow:hidden}#link-page-popup-form .text{width:400px}